name: Produce RapidPro flows
on:
    workflow_dispatch

jobs:

  core-function:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Node dependencies
        run: npm ci

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run pipeline
        env:
        run: python -m parenttext_pipeline.cli pull_data compile_flows

      - name: Publish output folder
        uses: actions/upload-artifact@v3
        with:
          name: Output Files
          path: output
